body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    position: relative;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

/* Background image with blur effect */
.bg-blur {
    position: absolute;
    inset: 0;

    /* relative pathway: images\hawker-centre.jpg */
    background-image: url("../images/hawker-centre.jpg"); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    
    filter: blur(8px);
}

/* Text is placed over the blurred background */
.content {
    position: relative;
    z-index: 1;

    text-align: center;
    color: white;
}

h1{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 70px;
}

.welcome{
    font-size: 60px;
}

.loginBtn {
    background-color: #6F8879;
    padding: 20px 80px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 50px;
    cursor: pointer;
    margin: 4px 2px;
    border: none;
    border-radius: 20px;
}