.view-cart-btn {
    position: absolute;
    top: 200px;
    right: 75px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    padding: 24px 60px;
    background-color: #B7CBBF;
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
}

.view-cart-btn img {
    width: 32px;
    aspect-ratio: 1/1;
    margin-left: 10px;
}

.container {
    position: relative;

    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.menu-item-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border: 1px solid #585858;
    border-radius: 10px;
    width: 500px;
    aspect-ratio: 2.5/1;
    background-color: #B7CBBF;
    text-align: center;
}

.menu-item-img {
    width: 40%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;  
    background-color: white;
    margin-left: 20px;
}

.menu-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.menu-item-info {
    color: white;
}

.menu-item-info h3 {
    font-size: 24px;
}
.menu-item-info p {
    font-size: 18px;
}

.cuisine {
    font-style: italic;
}

.price {
    text-decoration: underline;
}

.menu-item-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 10px;
    padding-bottom: 10px;
}

.menu-item-actions button {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color:#585858;
    cursor: pointer;
}

.like img {
    width: 14px;
    aspect-ratio: 1/1;
}