body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: 10px 20px;
}

footer {
    background-color: #6F8879;
    text-align: center;
    padding: 10px;
}